body{
    background: #f0d8d9;
}
.nav-container{
    background-color:#ecaec2;
    padding:5px 0px 5px 0px
}
.navbar{
    background-color: #ecaec2;
    margin: 5px 0px 5px 0px;
}

.nav-title{
    padding-left:15px;
    padding-right: 15px;
    font-size: 20px;
    text-align:left;
}

.carouselImg {
    width: auto;
    height: 500px;
    max-height: 500px;
}

.conoceMas{
background-color: #f8cad9;
}

@media (min-width: 992px) {
    .secCarouselImg {
        width: auto;
        height: 500px;
        max-height: 500px;
    }
}


.ofertas{
    padding: 15px 0px 0px 0px;
    border-style: dotted;
    border-color: #f8cad9;

}
.carousel-caption {
    position: absolute;
    top:25px;
    max-height: 100px;
 }

 .test2 {
    background-image: url(./imagenes/lunch.png);
    background-repeat:no-repeat;
    background-size: cover;

 }

 .test1 {
    background-image: url(./imagenes/desayuno.png);
    background-repeat:no-repeat;
    background-size: cover;

 }
 .test3 {
    background-image: url(./imagenes/merienda.png);
    background-repeat:no-repeat;
    background-size: cover;

 }

 .carousel-content{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0 auto; 
    max-width: 1200px;
 }

 .container p, h3, h4{
    text-align: center;

    
 }
 
 .container p{
    font-size: 18px;
    margin-bottom: 20px;
 }

 .container h3, h4{
    color: blueviolet;
 }

 .resaltado{
    font-style: italic;
    
 }

.container .text-section{
    border: black solid 2px;
}

.text-section{
    padding: 20px;
}
